body {
  font-size: 62.5%;
}

.container {
  font-size: 1.4rem;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

.thumbnail {
  width: 15rem;
  float: right;
  border: none;
}

.list-group-item {
  display: inline-block;
  position: relative;
  margin: .5rem;
  border-radius: 1.5rem;
}

.list-group-item p {
  position: absolute;
  bottom: 0;
}